{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "plugins": ["import", "jsx-a11y", "prettier", "react", "react-hooks"],
  "rules": {
    "prettier/prettier": "error",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/jsx-fragments": [0],
    "react/no-unescaped-entities": [0]
  }
}
