{
  "env": {
    "browser": true,
    "node": true
  },
  "extends": ["airbnb", "prettier"],
  "plugins": ["import", "jsx-a11y", "prettier", "react", "react-hooks"],
  "rules": {
    "prettier/prettier": "error",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/jsx-fragments": [0],
    "react/no-unescaped-entities": [0],
    "react/jsx-props-no-spreading": [0],
    "react/function-component-definition": [
      1,
      {
        "namedComponents": "arrow-function",
        "unnamedComponents": "arrow-function"
      }
    ],
    "no-unused-vars": [1],
    "react/prop-types": [1],
    "react/destructuring-assignment": [0]
  }
}
