.UserInputScreen__wrapper {
  background-color: rgb(0, 0, 0, 0.7);
  margin: 1rem;
  padding: 1rem;
}

.UserInputScreen__inputWrapper {
  display: flex;
  justify-content: center;
}

.UserInputScreen__button {
  display: flex;

  /* TODO: Make image prettyyyyy */
  background-image: url("../assets/frame.png");
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 100%;
  border: 0;
}

.UserInputScreen__input {
  display: flex;
  font-size: larger;

  /* TODO: Make image prettyyyyy */
  background-image: url("../assets/progressBar.png");
  background-color: white;
  border-radius: 1.25rem;
  background-repeat: no-repeat;
  background-size: 100%;
  border: 0;
  padding: 1rem;
}

.UserInputScreen__notesWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
