/* Based off of:
*  https://www.w3schools.com/howto/howto_css_switch.asp
*/

/* Wrapper around entire Switch component */
.Switch__wrapper {
  align-items: center;
  display: flex;
  margin-top: 1rem;
  padding: 5px;
  text-align: center;
}

.Switch__label {
  padding: 8px;
  min-width: 185px;
}

/* Box around the slider */
.Switch__labelWrapper {
  position: relative;
  display: inline-block;
  width: 65px;
  height: 34px;
}

.Switch__span.disabled {
  cursor: not-allowed;
}

/* Hide default HTML checkbox */
.Switch__labelWrapper input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.Switch__span {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;

  /* Round out the slider */
  border-radius: 34px;
}

.Switch__span::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;

  /* Round out the slider  */
  border-radius: 50%;
}

input:checked + .Switch__span {
  background-color: rgba(164, 2, 57, 0.3);
}

input:focus + .Switch__span {
  box-shadow: 0 0 1px #f9cf87;
}

input:checked + .Switch__span::before {
  -webkit-transform: translateX(30px);
  -ms-transform: translateX(30px);
  transform: translateX(30px);
}
