.App__wrapper {
  display: flex;
  flex-direction: column;
  font-family: Raleway, sans-serif;
  color: #f9cf87;
}

h1,
h2 {
  border-bottom: 1px solid #e54c61;
  color: #e54c61;
  font-weight: normal;
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
}

h4 {
  display: flex;
  justify-content: center;
  margin-bottom: 0;
}

li {
  list-style-image: url("./assets//bulletPoint.png");
}

.DisplayCard {
  background-color: rgb(0, 0, 0, 0.7);
  margin: 1rem;
  padding: 1rem;
}

.Header {
  border-bottom: 1px solid #e54c61;
  color: #e54c61;
  font-weight: normal;
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
}

.SubHeader {
  background: linear-gradient(to bottom, #a6274e 0%, #cd2f46 73%, #d1394e 100%);
  border: 1px solid rgba(164, 2, 57, 0.3);
  text-align: center;
  color: #f9cf87;
  padding: 0.5rem;
}

.BulletedCell {
  padding-left: 1rem;
}

table {
  width: 100%;
}

td {
  width: 50%;
}

table tr:nth-child(even) td {
  background-color: rgba(166, 39, 78, 0.3);
}
