.App__wrapper {
  display: flex;
  flex-direction: column;
  font-family: Raleway, sans-serif;
  color: #f9cf87;
}

h1,
h2 {
  border-bottom: 1px solid #e54c61;
  color: #e54c61;
  font-weight: normal;
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
}

h4 {
  display: flex;
  justify-content: center;
  margin-bottom: 0;
}

li {
  list-style-image: url("./assets//bulletPoint.png");
}

.DisplayCard {
  background-color: rgb(0, 0, 0, 0.7);
  margin: 1rem;
  padding: 1rem;
}

.Header {
  border-bottom: 1px solid #e54c61;
  color: #e54c61;
  font-weight: normal;
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
}

.SubHeader {
}

.BulletedCell {
  padding-left: 1rem;
}
